<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form role="form">
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class:'form-control', placeholder:'Enter username' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class:'form-control', placeholder:'Enter password'%>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:'form-control', placeholder:'Enter full name' %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class:'form-control', placeholder:'Enter phone number' %>
      </div>
      <div class="form-group">
        <%= f.label :street %>
        <%= f.text_field :street, class:'form-control', placeholder:'Enter current street address' %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class:'form-control', placeholder:'Enter current city' %>
      </div>
      <div class="form-group">
        <%= f.label :zip %>
        <%= f.text_field :zip, class:'form-control', placeholder:'Enter zip code' %>
      </div>
      <button type="submit" class="btn btn-default actions">Sign Up</button>
    </form>
<% end %>
