<div class="container center">
    <div class="jumbotron">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Name:</strong>
          <%= @customer.name %>
        </p>

        <p>
          <strong>Username:</strong>
          <%= @customer.username %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @customer.city %>
        </p>

        <p>
          <strong>Street:</strong>
          <%= @customer.street %>
        </p>

        <p>
          <strong>Zip:</strong>
          <%= "%05d" % @customer.zip %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @customer.phone %>
        </p>
      <%= link_to 'View Cart', @customer.cart, class:'btn btn-default btn-large' %>
    </div>
</div>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
