<div class="container center">
  <div class="jumbotron">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @vendor.name %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @vendor.username %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @vendor.city %>
    </p>

    <p>
      <strong>Street:</strong>
      <%= @vendor.street %>
    </p>

    <p>
      <strong>Zip:</strong>
      <%= "%05d" % @vendor.zip %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @vendor.phone %>
    </p>
    <%= link_to 'View Products', product_listing_path(:vendor_id => @vendor.id), class:'btn btn-default btn-large' %>
  </div>
</div>