<div class="container center">
    <div class="jumbotron">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Stock</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= link_to product.name, product %></td>
                <td><%= "$%.2f" % product.price %></td>
                <td><%= product.stock %></td>
                <td><%= link_to 'Add To Cart', add_to_cart_path(:cart_id => @cart,:product_id => product.id) %></td>
                <td><%= link_to 'Add To Wishlist', edit_product_path(product) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
<br>

<%= link_to 'New Product', new_product_path %>
