<div class="container center">
  <div class="jumbotron">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= "$%.2f" % @product.price %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= @product.stock %>
    </p>

    <p>
      <strong>Sold By:</strong>
      <%= link_to @vendor.username, @vendor %>
    </p>

    <%= link_to 'Back to Product Listing', Product, class:'btn btn-default btn-large' %>
  </div>
</div>