<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @sale.vendor_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @sale.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @sale.updated_at %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
