<!DOCTYPE html>
<html>
<head>
  <title>Dbproject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="/">Thrift</a>
    <%= link_to "Vendor", '/vendor_signin', class: "btn btn-large navbar-btn btn-default navbar-right" %>
    <%= link_to "Customer", '/customer_signin', class: "btn btn-large navbar-btn btn-primary navbar-right" %>
  </div><!-- /.container-fluid -->
  </nav>
</head>
<body>
</body>
</html>
<%= yield %>

</body>
</html>
